.entrance {
    text-align: center;
    margin: 45px 200px;
    font-size: 1.5em;
}



li {
    text-align: center;
    font-size: 1.5em;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-left: 35px;
}

img {
    width: 300px;
}

.yayin {
    text-align: center;
    margin-top: 100px;
}